{% extends "base/base.html" %}

{% block content %}

<style>
    .about-section{
        background: url(https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-udaivilas-udaipur/gallery/featured/udaivilas-gallery-featured-5-semi-private-pool-724x407.jpg) no-repeat left;

        background-size: 90%;
        background-color: #000000;
        overflow: hidden;
        padding: 5px 0;
    }

    .inner-container{
        width: 50%;
        float: right;
        background-color: #fdfdfd;
        padding: 80px;
    }

    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }

    .button {
        background-color: #8f50fb; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

    .text{
        font-size: 14px;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .skills{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 13px;
    }

    @media screen and (max-width:1200px){
        .inner-container{
            padding: 80px;
        }
    }

    @media screen and (max-width:1000px){
        .about-section{
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container{
            width: 100%;
        }
    }

    @media screen and (max-width:600px){
        .about-section{
            padding: 0;
        }
        .inner-container{
            padding: 60px;
        }
    }

</style>


    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Ayubowan! is one of the leading travel agencies that provide inbound and outbound travel services, established in 2009, our company has progressed immensely over the years, making us a prime provider of exceptional touring services for tourists and local travelers. Our tours are designed with profound commitment to provide the utmost satisfaction to the traveler in every way. Our tours are unique and go beyond the typical tourist experience every single day. At Ayubowan, our vision is to make travel simple and fun for all, and our core values guide us in making this possible. These core values can be seen in the projects that we undertake, and the way in which we solve problems for our customers. 
            </p>
            <a href="{% url 'base:contact-us' %}" class="button botton1">Contact Us</a>
        </div>
    </div>


{% endblock content %}