{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="m-3 p-3">{{ room.hotel.hotel_name }}</h1>

    <h3 class="m-3 p-3">Room number: {{ room.room_number }}</h3>

    <div class="container m-3 p-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <p style="text-align: center"><input type="submit" value="Book"></p>
        </form>
    </div>

    <div class="container m-3 p-3">
        <img src="{{ room.hotel.image.url }}" alt="" width="100%">
    </div>

{% endblock content %}